.homeCaps img{
  padding: 15px;
  display: block;
  width: 100vw;
  height: 92vh;
  object-fit: cover;
  position: relative;
}
.homeCaps h3{
  position:absolute;
  text-align:center;
  width: 100%;
  bottom: 10%;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 3px black;
}
